/* ===========================================
   RESPONSIVE
   CROSÁNT
=========================================== */

/* =========================
        DESKTOP LARGE
========================= */

@media (max-width:1400px){

    .hero h1{

        font-size:5.5rem;

    }

}

/* =========================
        TABLETS
========================= */

@media (max-width:992px){

    header{

        height:80px;

    }

    nav{

        gap:25px;

    }

    .hero{

        height:90vh;

    }

    .hero-content{

        margin-left:6%;

        width:88%;

    }

    .hero h1{

        font-size:4rem;

    }

    .hero-text{

        font-size:1.05rem;

    }

    h2{

        font-size:3rem;

    }

    .concept-grid{

        grid-template-columns:1fr;

        gap:50px;

    }

    .cards{

        grid-template-columns:repeat(2,1fr);

    }

    .footer-grid{

        grid-template-columns:1fr;

        gap:35px;

        text-align:center;

    }

}

/* =========================
        MÓVILES
========================= */

@media (max-width:768px){

    header{

        background:rgba(0,0,0,.45);

        backdrop-filter:blur(12px);

        height:75px;

    }

    .nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:75px;

}

.menu-toggle{

    display:block;

    color:white;

}

nav{

    position:fixed;

    top:75px;

    left:-100%;

    width:100%;

    height:calc(100vh - 75px);

    background:#F8F4EE;

    display:flex;

    flex-direction:column;

    justify-content:flex-start;

    align-items:center;

    gap:35px;

    padding-top:60px;

    transition:.35s;

}

nav.active{

    left:0;

}

nav a{

    color:#1D1D1B !important;

    font-size:1.2rem;

    font-family:var(--font-title);

}

    .logo{

    font-size:1.5rem;

    letter-spacing:2px;

}
   

    /* HERO */

    .hero{

        height:100svh;

        text-align:center;

        justify-content:center;

    }

    .hero img{

    width:100%;

    height:100%;

    object-fit:cover;

    object-position:95% center;

}

    .hero-content{

        width:90%;

        margin:0 auto;

    }

    .hero h1{

        font-size:2.8rem;

        line-height:1.05;

    }

    .hero-text{

        font-size:1rem;

        margin:auto;

    }

    .btn{

        width:100%;

        max-width:320px;

    }

    section{

        padding:80px 0;

    }

    h2{

        font-size:2.3rem;

    }

    /* CONCEPTO */

    .concept-grid{

        grid-template-columns:1fr;

        gap:35px;

    }

    .concept-grid img{

        width:100%;

        height:380px;

        object-fit:cover;

        object-position:25% center;

    }

  /* =========================
        CARDS MOBILE
========================= */

.cards{

    display:flex;

    overflow-x:auto;

    overflow-y:hidden;

    gap:24px;

    margin-top:40px;

    padding:0 calc(50vw - 45%) 20px;

    scroll-snap-type:x mandatory;

    scroll-behavior:smooth;

    scroll-padding-inline:calc(50vw - 39%);

    -webkit-overflow-scrolling:touch;

}

.card{

    flex:0 0 90%;

    min-width:90%;

    scroll-snap-align:center;

    scroll-snap-stop:always;

}


.card img{

    width:100%;

    height:430px;

    object-fit:cover;

    object-position:center;

}

.card h3{

    font-size:1.8rem;

}

    /* MAISON */

    .atelier{

        height:500px;

        min-height:500px;

    }

    .atelier img{

        width:100%;

        height:100%;

        object-fit:cover;

        object-position:25%center;

    }

    .atelier-box{

        width:90%;

    }

    .atelier-box p{

        font-size:1rem;

    }

    /* FOOTER */

    .footer-grid{

        grid-template-columns:1fr;

        gap:30px;

        text-align:center;

    }

}

/* =========================
        TELÉFONOS PEQUEÑOS
========================= */

@media (max-width:480px){

    .hero h1{

        font-size:2.4rem;

    }

    h2{

        font-size:2rem;

    }

    .hero-text{

        font-size:.95rem;

    }

    .btn{

        padding:16px 28px;

    }

    .section-subtitle{

        font-size:.7rem;

        letter-spacing:2px;

    }

    .copyright{

        font-size:.75rem;

    }

}

/* ==========================================
   MOBILE LANDSCAPE
========================================== */

@media (max-height:600px) and (orientation:landscape){

    header{

        height:70px;

    }

    .hero{

        height:100vh;

        align-items:center;

    }

    .hero-content{

        width:55%;

        margin-left:6%;

    }

    .hero h1{

        font-size:2.8rem;

        margin-bottom:15px;

    }

    .hero-text{

        font-size:1rem;

        margin-bottom:20px;

        max-width:500px;

    }

    .btn{

        padding:14px 28px;

        margin-top:10px;

    }

}


/* =========================
    HIDE SCROLLBAR
========================= */

.cards::-webkit-scrollbar{

    display:none;

}

.cards{

    scrollbar-width:none;

}
